/* adds a dollar sign to the list price in view_property.html 
    The javascript formatting of the list price with commas requires the $ to be added in CSS rather than HTML
    https://www.geeksforgeeks.org/how-to-format-a-number-as-currency-using-css/ 
*/

.currencySign::before{
    content: '$';
}

/* used for flash error messages */

.error{
    color: red;
    font-weight: 500;
}


/* used in view_property.html */

.preserve_new_line_from_user_input{
    white-space: pre-line;
}

/* https://stackoverflow.com/questions/30593103/preserve-line-breaks-in-textarea */

